<div class="container">
  <h1>Event Subscriber Registration</h1>
  <form (submit)="registerQueues()">
    <mat-form-field appearance="fill">
      <mat-label>Event Type</mat-label>
      <input matInput [(ngModel)]="eventType" required [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Enter your name">
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>JMS Queues (comma-separated)</mat-label>
      <input matInput [(ngModel)]="queues" required  [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
  <mat-form-field appearance="fill">
    <mat-label>SearchEventName</mat-label>
    <input matInput [(ngModel)]="searchEventName" required  [ngModelOptions]="{standalone: true}"/>
  </mat-form-field>
  <button  (click)="findByEventName()">Find event</button>

</div>
